
.navbar{
    background-color: rgb(44, 62, 80);
}


.first-section{
    height: 500px;
    background-color: rgb(26, 188, 156);
}



.third-section{
    height: 500px;
    background-color: rgb(26, 188, 156);
}

.footer_top{
    height: 150px;
    background-color: rgb(58, 84, 109);
}

.footer_bottom{
    height: 50px;
    background-color: rgb(44, 62, 80);
}



